<div ng-include src="'views/partials/homeHeader.html'"></div> 

<div class="clearfix">
		<div>
			<div id="firstHomeSection" class="jumbotron clearfix " >
				<div class="col-md-6 column pull-left">
					<h1>WELCOME TO SAT!</h1>
					<h2>
						<p>
							Take the hassle out of organising your club, team or group, 
							find people who are interested on playing your same sport, and book your field!
						</p>
					</h2>
				</div>
				<div class="col-md-6 column pull-right">
					<form role="form">
						<h1>LOGIN</h1>
						<div class="form-group input-group-sm">
							 <input type="userName" class="form-control" placeholder="Username" id="userName">
						</div>
						<div class="form-group input-group-sm">
							 <input type="passwordLogin" class="form-control"  placeholder="Password" id="passwordLogin">
						</div>
						<div class="row clearfix">
							<div class="column">
								 <button type="button" class=" btn-lg satButton ">Login</button>
							</div>
						</div>
					</form>
					<form role="form">
						<h1>SIGNUP FOR FREE!</h1>
						<div class="form-group input-group-sm">
							 <input type="name" class="form-control" placeholder="Name" id="exampleInputEmail1">
						</div>
						<div class="form-group input-group-sm">
							 <input type="email" class="form-control" placeholder="Email" id="exampleInputEmail1">
						</div>
						<div class="form-group input-group-sm">
							 <input type="password" class="form-control"  placeholder="Password" id="exampleInputPassword1">
						</div>
						<div class="row clearfix">
							<div class="column">
								 <button type="button" class="btn-lg btn-success">OK</button>
							</div>
						</div>
					</form>
					
				</div>
			</div>
			<div id="secondMainSection" class="home row jumbotron">
				<h1>
					OBTENE TURNOS GRATIS, ARMA TU EQUIPO, BUSCA JUGADORES Y MAS!
				</h1>
				<p>
					<iframe src="//player.vimeo.com/video/59362697" width="1000" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</p>
				<p>
					<a class="btn btn-primary btn-large" href="#">Registrate GRATIS</a>
				</p>
			</div>
			<div id="thirdMainSection"  class="row jumbotron clearfix " >
				<!-- third section - Services -->
				<div class="col-md-12 column">
				<h1>NUESTROS SERVICIOS</h1> <hr />
				<div id="services" class="pad-section">
				    <div class="row text-center">
				      <div class="col-sm-3 col-xs-6">
				        <i class="glyphicon glyphicon-cloud"> </i>
				        <h4>Service 1</h4>
				        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in sem cras amet. Donec in sem cras amet.</p>
				      </div>
				      <div class="col-sm-3 col-xs-6">
				        <i class="glyphicon glyphicon-leaf"> </i>
				        <h4>Service 2</h4>
				        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in sem cras amet. Donec in sem cras amet.</p>
				      </div>
				      <div class="col-sm-3 col-xs-6">
				        <i class="glyphicon glyphicon-phone-alt"> </i>
				        <h4>Service 3</h4>
				        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in sem cras amet. Donec in sem cras amet.</p>
				      </div>
				      <div class="col-sm-3 col-xs-6">
				        <i class="glyphicon glyphicon-bullhorn"> </i>
				        <h4>Service 4</h4>
				        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in sem cras amet. Donec in sem cras amet.</p>
				      </div>
				    </div>
				</div>
				</div>
				<!-- /third section -->
			</div>
			<div id="footer" class="row clearfix footer">
				<div class="container">
					<div class="col-md-4 column">
						<p>SAT - Cordoba - Argentina</p>
						<p>Home</p>
						<p>Registrarse</p>
						<p>Login</p>
					</div>
					<div class="col-md-4 column">
						Copyright todos los derechos reservados
					</div>
					<div class="col-md-4 column">
						<p>Facebook</p>
						<p>Twitter</p>
						<p>Google+</p>
						<p>Instagram</p>
					</div>
				</div>
			</div>
		</div>
	</div>



