<div ng-include src="'views/partials/homeHeader.html'"></div> 

<div class="row clearfix">
		<div class="col-md-14 column">
			
			<div id="firstHomeSection" class="home row jumbotron">
				<h1>
					OBTENE TURNOS GRATIS, ARMA TU EQUIPO, BUSCA JUGADORES Y MAS!
				</h1>
				<p>
					<iframe src="//player.vimeo.com/video/59362697" width="1000" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</p>
				<p>
					<a class="btn btn-primary btn-large" href="#">Registrate GRATIS</a>
				</p>
			</div>
			<div id="secondMainSection" class="row jumbotron clearfix " >
				<div class="col-md-12 column">
					<h1>REGISTRARSE ES GRATIS!</h1>
					<form role="form">
						<div class="form-group input-group-lg">
							 <input type="email" class="form-control" placeholder="Email" id="exampleInputEmail1">
						</div>
						<div class="form-group input-group-lg">
							 <input type="password" class="form-control"  placeholder="Contraseña" id="exampleInputPassword1">
						</div>
						<div class="form-group input-group-lg">
							 <input type="password" class="form-control"  placeholder="Repetir Contraseña" id="exampleInputPassword2">
						</div>
					</form>
					<div class="row clearfix">
						<div class="col-md-12 column">
							 <button type="button" class="btn btn-lg btn-success btn-block">OK</button>
						</div>
					</div>
				</div>
			</div>
			<div id="thirdMainSection"  class="row jumbotron clearfix " >
				<!-- third section - Services -->
				<div class="col-md-12 column">
				<h1>NUESTROS SERVICIOS</h1> <hr />
				<div id="services" class="pad-section">
				    <div class="row text-center">
				      <div class="col-sm-3 col-xs-6">
				        <i class="glyphicon glyphicon-cloud"> </i>
				        <h4>Service 1</h4>
				        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in sem cras amet. Donec in sem cras amet.</p>
				      </div>
				      <div class="col-sm-3 col-xs-6">
				        <i class="glyphicon glyphicon-leaf"> </i>
				        <h4>Service 2</h4>
				        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in sem cras amet. Donec in sem cras amet.</p>
				      </div>
				      <div class="col-sm-3 col-xs-6">
				        <i class="glyphicon glyphicon-phone-alt"> </i>
				        <h4>Service 3</h4>
				        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in sem cras amet. Donec in sem cras amet.</p>
				      </div>
				      <div class="col-sm-3 col-xs-6">
				        <i class="glyphicon glyphicon-bullhorn"> </i>
				        <h4>Service 4</h4>
				        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in sem cras amet. Donec in sem cras amet.</p>
				      </div>
				    </div>
				</div>
				</div>
				<!-- /third section -->
			</div>
			<div id="footer" class="row clearfix footer">
				<div class="container">
					<div class="col-md-4 column">
						<p>SAT - Cordoba - Argentina</p>
						<p>Home</p>
						<p>Registrarse</p>
						<p>Login</p>
					</div>
					<div class="col-md-4 column">
						Copyright todos los derechos reservados
					</div>
					<div class="col-md-4 column">
						<p>Facebook</p>
						<p>Twitter</p>
						<p>Google+</p>
						<p>Instagram</p>
					</div>
				</div>
			</div>
		</div>
	</div>



